body
{
    font-family: 'raleway', sans-serif;

}

header, #hotels, #activites
{
    padding-left: 54px;
}

a
{
    text-decoration: none;
}

a:hover
{
    border-top: 2px solid #0065FC;
    margin-top: -49px;
}

#headerligne1
{
    height: 70px;
    display: flex;
    justify-content: space-between;
}

#headerligne1d
{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

h1
{
    border: 2px solid blue;
    font-size: 20px;
}

.element
{
    padding-top: 10px;
    width: 30%;
    text-align: center;
}

.ligne3
{
    margin-top: -18px;
}

form
{
    margin-top: 19px;
    display: flex;
}

.mapmarker
{
    width: 40px;
    height: 40px;
    border-radius: 10px 0 0 10px;
    background-color: #F2F2F2;
}

#mapmarker
{
    position: relative;
    left: 14px;
    top: 10px;

}
.champville
{
    width: 234px;
    height: 34px;
}

.champrecherche
{
    width: 134px;
    height: 40px;
    font-size: 1em;
    background-color: #0065FC;
    color: white;
    border-radius: 0 10px 10px 0;
}

h2
{
    font-size: 16px;
}

















#filtres
{
    display: flex;
}

.filtres
{
    margin-top: 25px;
}

#eco
{
    display: flex;
}

.titrefiltre
{
    border: 2px solid #F2F2F2;
    border-radius: 0 20px 20px 0;
    border-left: none;
    height: 37px;
    margin-top: 15px;
    margin-left: -15px;
}

.title
{
    margin-top: 8px;
    padding-left: 30px;
    padding-right: 15px;
}

.title:hover
{
    color: rgb(218, 7, 7);
    text-decoration: underline;

}

.billet
{
    width: 40px;
    height: 35px;
    border-radius: 20px 20px 20px 20px;
    margin-left: 25px;
    margin-top: 15px;
    padding-top: 5px;
    background-color: #DEEBFF;
}

#billet0
{
    color: #0065FC;
    position: relative;
    left: 10px;
    top: 6px;
}

#famille
{
    display: flex;
}

.enfant
{
    width: 40px;
    height: 35px;
    border-radius: 20px 20px 20px 20px;
    margin-left: 25px;
    margin-top: 15px;
    padding-top: 5px;
    background-color: #DEEBFF;
}

#enfant0
{
    color: #0065FC;
    position: relative;
    left: 14px;
    top: 6px;
}

#romantic
{
    display: flex;
}

.coeur
{
    width: 40px;
    height: 35px;
    border-radius: 20px 20px 20px 20px;
    margin-left: 25px;
    margin-top: 15px;
    padding-top: 5px;
    background-color: #DEEBFF;
}

#coeur0
{
    color: #0065FC;
    position: relative;
    left: 12px;
    top: 7px;
}

#pet
{
    display: flex;
}

.chien
{
    width: 40px;
    height: 35px;
    border-radius: 20px 20px 20px 20px;
    margin-left: 25px;
    margin-top: 15px;
    padding-top: 5px;
    background-color: #DEEBFF;
}

#chien0
{
    color: #0065FC;
    position: relative;
    left: 12px;
    top: 4px;
}



























#pointinfo
{
    display: flex;
}

.info
{
    width: 25px;
    height: 20px;
    margin-top: 15px;
    padding-top: 5px;
    border-radius: 15px;
    border: 1px gray solid;
}

.info0
{
    width: 60%;
    height: 70%;
    padding-left: 5px;
}

#hotels
{
    display: flex;
    justify-content: space-between;
}

.section1
{
    width: 70%;
    background-color: #F2F2F2;
}

.section2
{
    width: 25%;
    background-color: #F2F2F2;
}

.six-photos
{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.six-photos > div
{
    border: 2px solid red;
    width: 30%;
    margin-bottom: 15px;
    background-color: white;
}

img             /* A MODIFIER */
{
    max-width: 96%;
    padding-left: 2%;
    padding-top: 2%;
}

.etoile-active
{
    color: #0065FC;
}

.etoile-inactive
{
    color: #F2F2F2;
}

.lespluspopulaires
{
    display: flex;
    justify-content: space-around;
}

.chart-line
{
    padding-top: 2px;
}

.trois-photos > div
{
    border: 2px solid green;
    width: 80%;
    margin-left: 10%;
    background-color: white;
}

.trois-photos
{
    display: flex;
    flex-direction: column;
}

.trois-photos img
{
    width: 40%;
    height: 148px;
}

.photo7
{
    display: flex;
}

.photo8
{
    display: flex;
    margin-top: 25px;
}

.photo9
{
    display: flex;
    margin-top: 25px;
}

#photosactivites
{
    display: flex;
}

#photosactivites > div
{
    width: 22%;
}

.photoA, .photoB, .photoC, .photoD, .photoE, .photoF
{
    border: yellow 2px solid;
}

.photoB-C, .photoD, .photoE-F
{
    margin-left: 4%;
}



























#section1
{
    display: flex;
    justify-content: space-around;
}

footer
{
    background-color: #F2F2F2;
    padding-left: 54px;
    display: flex;
    justify-content: space-between;
}

h5
{
    font-size: 1em;
}








à tester !!!!
balise
{
    transform: scale();
    transform: translate();
}