/* GENERAL -------------------------------------*/

body
{
    font-family: 'raleway', sans-serif;
}

h1
{
    font-size: 20px;
}

h2
{
    font-size: 20px
}

h3
{
    font-size: 20px;
}
h4
{
    font-size: 19px;
}

/* HEADER --------------------------------------*/

header
{
    padding-left: 54px;
}

/*----------------- Header ligne 1 Logo & Liens */

#headerligne1
{
    height: 50px;
    margin-top: -8px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

nav
{
    width: 45%;
    height: 50px;
    margin-top: 10px;
    display: flex;
}

nav a
{
    color: black;
    padding-top: 48px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 10px;
    text-decoration: none;
}

nav strong
{
    color: #0065FC;
}

nav a:hover
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

.element1, .element2, .inscription
{
    width: 30%;
    height: 100%;
    text-align: center;
}

/*------------------- Header ligne 2 et 3 Titre */

.ligne3
{
    margin-top: -12px;
}

/*------------------- Header ligne 4 Navigation */

form
{
    margin-top: 19px;
    display: flex;
    padding-left: 4px;
    align-items: flex-start;
}

.mapmarker
{
    width: 40px;
    height: 40px;
    border-radius: 10px 0 0 10px;
    background-color: #F2F2F2;
}

#mapmarker
{
    position: relative;
    left: 14px;
    top: 10px;
}

.champville
{
    font-weight: bold;
    width: 234px;
    height: 34px;
    padding-left: 10px;
    border: 2px solid #F2F2F2;
}

.champrecherche
{
    font-weight: bold;
    width: 134px;
    height: 44px;
    font-size: 1em;
    background-color: #0065FC;
    color: white;
    border-radius: 0 10px 10px 0;
    border: 2px solid #F2F2F2;
    margin-left: -2px;
    margin-top: -2px;
}

.loupe
{
    display: none;
}

/*---------------------- Header ligne 5 Filtres */

#filtres
{
    display: flex;
    flex-wrap: wrap;
}

#filtres h2
{
    padding-top: 13px;
    margin-right: 20px;
}

.f
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: 40px;
    border-radius: 20px 20px 20px 20px;
    margin-right: 25px;
    margin-top: 15px;
    padding: 0 15px 0 0;
    border: 1px solid #d6d4d4;
}

.icone
{
    width: 20px;
    background-color: #deebff;
    border-radius: 20px;
    padding: 9px;
    transform:scale(1.1)
}

.f i
{
    color: #0065FC;
}

.f a
{
    color: black;
    padding-left: 15px;
    font-weight: bold;
    text-decoration: none;
}

.f:hover
{
    color: white;
    background-color: #0065FC;
}

.f:hover a
{
    color: white;
}

#logo1
{
    padding-left: 4px;
}

#logo2
{
    padding-top: 2px;
    padding-left: 2px;
}

/*------------------- Header ligne 6 Point-info */

#pointinfo
{
    display: flex;
    padding-left: 9px;
}

.info
{
    width: 22px;
    height: 17px;
    margin-top: 15px;
    padding-top: 5px;
    border-radius: 15px;
    border: 1px gray solid;
}

#info0
{
    color: #0065FC;
    font-size: 12px;
    position: relative;
    left: 9px;
    bottom: 5px;
}

.info1
{
    margin-top: 2px;
    margin-left: 12px;
}

/* SECTION 1 (Hebergement + Populaire) -------------*/

h2
{
    font-size: 16px;
}

#hotels, #activites
{
    padding-left: 50px;
    padding-right: 50px;
}

.etoile-active
{
    font-size: 11px;
    color: #0065FC;
    margin: 5px 0 0 0;
}

.etoile-inactive
{
    font-size: 11px;
    color: #F2F2F2;
    margin: 5px 0 0 0;
}

/*---------------------------- Section 1 Hebergement */

#hotels
{
    display: flex;
    justify-content: space-between;
}

#sectionA
{
    border-radius: 20px;
    padding-left: 39px;
    padding-right: 39px;
    padding-bottom: 25px;
    width: 63%;
    background-color: #F2F2F2;
}

.six-photos
{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.six-photos a
{
    color: black;
    text-decoration: none;
    width: 30%;
    height: 250px;
    border-radius: 16px;
    margin-bottom: 40px;
    padding: 3px;
    background-color: white;
}

.six-photos img
{
    border-radius: 15px 15px 0 0;
    width: 98%;
    height: 155px;
    padding-top: 3px;
    padding-left: 3px;
    object-fit: cover;
}

.six-photos h4
{
    margin: 5px 0;
    padding-left: 15px;
}

.six-photos p
{
    margin: 8px 0;
    padding-left: 15px;
}

.titrefin
{
    margin-top: -20px;
}

/*------------------------ Section 1 Populaires */

.sectionB
{
    border-radius: 20px;
    padding-left: 39px;
    padding-right: 39px;
    width: 24%;
    background-color: #F2F2F2;
}

.lespluspopulaires
{
    display: flex;
    justify-content: space-between;
}

.chart-line
{
    padding-top: 4px;
}

.trois-photos a
{
    color: black;
    text-decoration: none;
    display: flex;
    border-radius: 20px;
    background-color: white;
    padding: 5px;
}

.trois-photos img
{
    border-radius: 15px 0 0 15px;
    max-height: 97%;
    width: 40%;
    height: 170px;
    object-fit: cover;
}

.photo9 img
{
    min-width: 143px;
}

.trois-photos h4
{
    margin-top: 13px;
    padding-left: 25px;
    padding-right: 15px;
}

.trois-photos p
{
    padding-top: 0px;
    padding-left: 25px;
}

.photo8, .photo9
{
    margin-top: 34px;
}

.nuit
{
    margin-top: 25px;
}

.note
{
    margin-top: 35px;
    margin-bottom: 0px;
}

/* SECTION 2 - Activites -----------------------*/

#activites h3
{
    margin-top: 50px;
}

#photosactivites
{
    display: flex;
    justify-content: space-between;
}

.colonne1-3
{
    border-radius: 15px;
    width: 23%;
    height: 500px;
    box-shadow: 0 5px 10px #e2dfdf;
}

.colonne2-4
{
    border-radius: 15px;
    width: 23%;
    height: 510px;
}

#photosactivites a
{
    font-size: 19px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.photo1
{
    margin-top: 15px;
}

.colonne1-3 img
{
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 446px;
    object-fit: cover;
}

.colonne2-4 img
{
    border-radius: 15px 15px 0 0;
    width: 100%;
    object-fit: cover;
    padding-bottom: 2px;
}

#photo2-1, #photo2-2, #photo4-1, #photo4-2 
{
    border-radius: 15px;
   
    box-shadow: 0 5px 10px #e2dfdf;
}

#photo2-2, #photo4-2
{
    margin-top: 36px;
    
}

#photo2-1 img
{
    height: 214px;
}

#photo2-2 img
{
    height: 140px;
}

#photo4-1 img
{
    height: 184px;
}

#photo4-2 img
{
    height: 170px;
}

.colonne2-4 h4
{
    padding-bottom: 3px;
}

#photosactivites h4
{
    padding-left: 20px;
    position: relative;
    bottom: 15px;
}

/* FOOTER --------------------------------------*/

footer
{
    margin-top: 40px;
    background-color: #F2F2F2;
    padding-left: 54px;
    display: flex;
    justify-content: space-between;
}

footer a
{
    text-decoration: none;
    color: black;
}

/*-------------- Style Mobile ---------------*/

@media screen and (min-width: 320px) and (max-width: 767px)
{
    body
    {
        margin: auto;
    }

    /*--Mobile header entete--*/

    header
    {
        padding-left: 0px;
    }

    #headerligne1 img
    {
        position: absolute;
        top: 0;
        left: 25px;
    }

    .sousclasse
    {
        padding-left: 20px;
    }

    .inscription
    {
        position: absolute;
        top: 15px;
        right: 5px;
        height: 20px;
        margin-bottom: -10px;
    }

    nav
    {
        justify-content: space-around;
        width: 100%;
        margin-top: 25px;
    }

    nav .element1
    {
        margin-right: 25px;
        padding: 0 5px 10px 5px;
    }

    nav .element2
    {
        margin-left: -5px;
        padding: 0 5px 10px 5px;
    }

    nav a
    {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 11px;
        padding-top: 20px;
    }

    .element1 a:hover, .element2 a:hover
    {
        color: #0065FC;
        border-top: initial;
        border-bottom: 2px solid #0065FC;
    }

    nav .inscription:hover
    {
        border-bottom: none;
    }

    .trait
    {
        width: 100%;
        padding-bottom: 5px;
        border-bottom: 2px #F2F2F2 solid;
    }

    /*--Mobile header form--*/

    form
    {
        padding-left: 0;
    }

    .champville
    {
        width: 68%;
        margin-right: -15px;
        padding-left: 10px;
        border: 2px solid #F2F2F2;
    }

    .champrecherche
    {
        width: 44px;
        padding-right: 15px;
        border-radius: 15px;
    }

    .bouton
    {
        display: none;
    }

    .loupe
    {
        color: white;
        padding-left: 5px;
        display: initial;
    }

    /*--Mobile header filtres--*/

    .f
    {
        margin-right: 10px;
    }

    #filtres h2
    {
        width: 100%;
    }

    /*--Mobile header pointinfo--*/

    .info
    {
        min-width: 22px;
    }

    #pointinfo
    {
        margin-top: 10px;
        padding-left: 0px;
    }

    /*--Mobile section général--*/

    #hotels
    {
        flex-direction: column-reverse;
        margin-top: 20px;
        padding-left: 0;
        padding-right: 0;
    }

    /*--Mobile section populaire--*/

    .sectionB
    {
        border-radius: 0px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 35px;
        width: 92%;
        padding-top: 10px;
    }

    .photo8, .photo9
    {
        margin-top: 10px;
    }

    .trois-photos
    {
        justify-content: space-between;
    }

    .trois-photos a
    {
        width: 96%;
        height: 135px;
        padding: 5px 5px 2px 5px;
    }

    .trois-photos h4
    {
        font-size: medium;
        margin-bottom: -7px;
    }

    .photo9 img
    {
        min-width: 114px;
    }

    .nuit1, .nuit2, .nuit3
    {
        margin-bottom: 22px;
    }
    .note
    {
        margin-top: -8px;
    }

    #sectionA
    {
        margin-left: 5%;
        background-color: white;
        width: 90%;
        padding-left: 0;
        padding-right: 0;
    }

    #sectionA h3
    {
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .six-photos
    {
        flex-direction: column;
    }

    .six-photos img
    {
        height: 120px;
    }

    .six-photos a
    {
        margin-top: -25px;
        height: 215px;
        width: 98%;
        box-shadow: 0 5px 25px #e2dddd;
    }

    /*--Mobile section activite--*/

    #activites
    {
        margin-left: 5%;
        width: 90%;
        margin-top: -45px;
        padding-left: 0px;
        padding-right: 0px;
    }

    #activites h3
    {
        margin-bottom: 130px;
    }
    #photosactivites
    {
        flex-direction: column;
    }

    #photosactivites img
    {
        height: 130px;
    }

    #photoactivites a
    {
        height: 185px;
    }

    .colonne1-3
    {
        height: 185px;
        margin-top: -108px;
    }

    .colonne2-4
    {
        margin-top: 15px;
    }

    #photo2-2
    {
        margin-top: -10px;
    }

    .colonne1-3, .colonne2-4
    {
        width: 100%;
    }

    #photo4-2
    {
        margin-top: -10px;
    }

    /*--Mobile footer--*/

    footer
    {
        flex-direction: column;
        width: 92%;
        margin-top: -70px;
        padding-left: 25px;
        padding-top: 15px;
    }
}

/*-------------- Style Tablette ---------------*/

@media screen and (min-width: 768px) and (max-width: 1024px)
{

    body
    {
        margin: auto;
    }

    /*--Tablette header entete--*/

    header
    {
        padding-left: 5px;
    }
    #headerligne1 img
    {
        position: absolute;
        top: 30px;
        left: 15px;
    }

    nav
    {
        justify-content: flex-end;
        width: 75%;
        margin-top: -10px;
    }

    nav a
    {
        padding: 10px 0 5px 0;
        border-bottom: 1px solid black;
    }

    nav div
    {
        margin-top: 18px;
    }

    nav strong
    {
        color: black;
        font-weight: normal;
    }

    nav a:hover
    {
        color: black;
        border-bottom: 2px solid black;
        border-top: none;
    }

    /*--Tablette header ligne 2 Titre + form--*/

    header h1
    {
        font-size: 18px;
    }

    header h1, header .ligne3
    {
        width: 50%;
    }

    form
    {
        width: 43%;
        position: absolute;
        top: 82px;
        right: 28px;
    }

    .mapmarker
    {
        width: 40px;
        min-height: 40px;
    }

    .champville
    {
        width: 43%;
        border: 2px solid #F2F2F2;
    }

    /*--Tablette header ligne 3 filtres--*/

    .f
    {
        margin-right: 1%;
    }

    #filtres h2
    {
        margin-right: 1%;
    }

    /*--Tablette hotels--*/

    #hotels
    {
        padding-left: 5px;
        flex-direction: column-reverse;
    }

    /*--Tablette populaires--*/

    .sectionB
    {
        width: 95%;
    }

    .trois-photos
    {
        margin: 0 -3.5%;
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        margin-top: -40px;
        padding-bottom: 25px;
        width: 107%;
    }

    .trois-photos a
    {
        height: 140px;
        width: 30%;
        padding-bottom: 1px;
    }

    .photo9 img
    {
        min-width: 40%;
    }

    .trois-photos h4
    {
        font-size: 14px;
        padding-left: 8px;
        padding-right: 0;
        margin-bottom: 10px;
    }

    .photo7 h4, .photo9 h4
    {
        padding-right: 18px;
    }

    .trois-photos p
    {
        padding-left: 13px;
    }

    .nuit1, .nuit2, .nuit3
    {
        font-size: 14px;
    }
    .note
    {
        margin-top: 25px;
    }

    /*--Tablette hebergements--*/

    #sectionA
    {
        margin-top: 25px;
        width: 95%;
    }

    .six-photos h4
    {
        font-size: 16px;
    }

    /*--Tablette avtivites--*/

    #activites
    {
        margin: 0px;
        padding: 0 0 0 5px;
        width: 98%;
    }

    #activites h4
    {
        font-size: 13px;
        padding-left: 10px;
    }

    #photo2-1 h4, #photo2-2 h4
    {
        padding-bottom: 16px;
    }

    #photo4-1 h4, #photo4-2 h4
    {
        padding-bottom: 14px;
    }

    #photo4-1 img
    {
        height: 205px;
    }
    #photo4-2 img
    {
        max-height: 152px;
    }

    /*--Tablette footer--*/

    footer
    {
        margin-left: 5px;
        margin-right: 13px;
        padding-left: 27px;
        padding-right: 0;
    }

    footer p
    {
        font-size: 15px;
    }

}