@font-face {
    font-family: 'Raleway';
    src: url('static/Raleway-Regular.ttf');
    src: url('Raleway-Italic-VariableFont_wght.ttf');
    src: url('Raleway-VariableFont_wght.ttf');
    src: url('static/Raleway-Black.ttf');
    src: url('static/Raleway-BlackItalic.ttf');
    src: url('static/Raleway-Bold.ttf');
    src: url('static/Raleway-BoldItalic.ttf');
    src: url('static/Raleway-ExtraBold.ttf');
    src: url('static/Raleway-ExtraBoldItalic.ttf');
    src: url('static/Raleway-ExtraLight.ttf');
    src: url('static/Raleway-ExtraLightItalic.ttf');
    src: url('static/Raleway-Italic.ttf');
    src: url('static/Raleway-Light.ttf');
    src: url('static/Raleway-LightItalic.ttf');
    src: url('static/Raleway-Medium.ttf');
    src: url('static/Raleway-MediumItalic.ttf');
    src: url('static/Raleway-SemiBold.ttf');
    src: url('static/Raleway-SemiBoldItalic.ttf');
    src: url('static/Raleway-Thin.ttf');
    src: url('static/Raleway-ThinItalic.ttf');
}
body
{
    font-family: 'Raleway';
}
#enteteligne
{
    display: flex;
}
.element
{
    width: 150px;
}
#ligneinfo
{
    display: flex;
}
.info
{
    width: 18px;
    text-align: center;
    color: blue;
    border: 1px solid gray;
    border-radius: 50%;
}
.phraseinfo
{
    padding-left: 10px;
}
#section1
{
    display: flex;
    justify-content: space-around;
}
#section2
{
    display: flex;
}
#pieddepage
{
    display: flex;
    justify-content: space-between;
}